<footer class="footer">
    <div class="container">
      <div class="row">
        <!-- About Section -->
        <div class="col-md-4 footer-about">
          <h3>About Me</h3>
          <p>
            I'm a passionate software developer focused on creating efficient and scalable solutions. Let's connect!
          </p>
        </div>
        
        <!-- Links Section -->
        <div class="col-md-4 footer-links">
          <h3>Quick Links</h3>
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/projects">Projects</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </div>
        
        <!-- Social Media Section -->
        <div class="col-md-4 footer-social">
          <h3>Follow Me</h3>
          <div class="social-icons">
            <a href="https://www.linkedin.com/in/amar-sharma-software-engineer/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/innocentamar" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://x.com/Boxer_Amar" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/amar_amaze/" target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Amar Sharma. All rights reserved.</p>
    </div>
  </footer>
  