<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-center">
      <a class="navbar-brand font-weight-bold text-center" href="#">
        <i class="fas fa-laptop-code"></i> Amar Sharma
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link text-center" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center" href="#">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>