/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  
}

body, html {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: #f8f9fa;
}

/* Container */
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background: #000000;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

/* Text and Image Containers */
.text-container {
  text-align: center;
}

.text-container h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  /* padding: 4px 90px 1px 121px; */
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Typing Animation */
.typing {
  display: inline-block;
  border-right: 2px solid #fff; /* Cursor effect */
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(100, end), blink 0.75s step-end infinite;
  font-family: 'Chakra Petch', serif; /* Apply the unique font */
  font-weight: 300; /* Adjust weight as needed */
  color: #fff; /* Ensure text is visible */
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}

/* About Section */
.about-section {
  padding: 60px 0;
  background-color: white;
}

.section-title {
  font-size: 2rem;
  font-weight: 600;
  color: #343a40;
}

.about-description {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #6c757d;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  
  .text-container h1 {
    font-size: 2rem;
  }
}
